<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    {%if videoquery%}
    {%for video in videoquery %}
      <!-- Display the video -->
        <video class="video"   width="100%" height="240px" controls >
            <source src="{{ url_for('static', filename='video/' + video.filename) }}" type="video/mp4">
            Your browser does not support videos.
        </video>
    {%endfor%}
    {%endif%}
</body>
</html>